{% load static %}
<!DOCTYPE html>

<html>
<head>

<title>Mithun Raj</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body onload="loader()" id="home">

<script src="script.js"></script>



<header>

<div class="nav-icon" id="nav-icon">
<button onclick="navbtn()">

<div>
</div>

<div>
</div>

<div>
</div>

</button>
</div>

<h1><a href="index.html">Mithun Raj</a></h1>

<nav id="navbar">
<ul>
<button onclick="navbtn()" >x</button>
<li><a href="#home">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#education">Education</a></li>
<li><a href="#skills">Skills</a></li>
<li><a href="#certification">Certification</a></li>
<li><a href="#projects">Projects</a></li>
</ul>
</nav>


<div class="profile-wrapper">
<a href="assets/K Mithun Raj.pdf" download="K Mithun Raj">Resume</a>
</div>

</header>

<br/>

<div class="homepage">

<div class="headspace" style="height:25px; width:100%; float:left;"></div>


<div class="headbanner">

<div class="mypic">
</div>

<div class="myquote">
<div class="txt">
<p class="txt1">Hi,</p>
<p class="txt2">I am Mithun Raj</p>
<div class=textcontainer>
<p class="txt3">Web Developer</p>
</div>
</div>
</div>
</div>

<div class="socialicons">

<a href="https://www.instagram.com/themithunraj/" class="fa fa-instagram"></a>
<a href="https://twitter.com/themithunraj" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/mithun-raj-k-1904b220b" class="fa fa-linkedin"></a>
<a href="https://github.com/kmithunraj" class="fa fa-github"></a>

</div>

<div class="nxtbtn"><button class="nxtbtnblack"><a href="#about">&#x25BC;</a></div>

</div>

<div class="aboutpage" id="about">

<div class="about" >

<p class="aboutheader">ABOUT</p>
<p class="aboutbody">
I am an undergraduate student pursuing B.Tech from the Panimalar Engineering College, Chennai, in Computer Science & Business Systems. I truly believe that I could deliver to your expectations in the desired time framework and give my best while learning the new technologies and industry insights. I am a quick learner.
</p>

<div class="nxtbtn"><button class="nxtbtnwhite"><a href="#education">&#x25BC;</a></div>

</div>



</div>



<div class="educationpage" id="education">
<div class="educations">

<div class="education"><p>EDUCATION</p></div>

<div class="edu">
<p>INDIAN INSTITUTE OF TECHNOLOGY MADRAS </p>
<br>
<p>2022 - PRESENT</p>
<br>
<p class="degree">B.S. PROGRAMMING AND DATA SCIENCE</p>
<br/>
<p class="degree">PURSUING</p>
</div>

<div class="edu">
<p>PANIMALAR ENGINEERING COLLEGE </p>
<br>
<p>2020 - PRESENT</p>
<br>
<p class="degree">B.TECH. COMPUTER SCIENCE AND BUSINESS SYSTEMS</p>
</br>
<p class="degree">PURSUING</p>
</div>

</div>

</div>

</div>

<div class="skillspage" id="skills">

<div class="skills">
<p class="skill">SKILLS</p>
<div class="skillz">
<p class="skillname">HTML</p>
<p class="skillpercent">90%</p>
<div class="percent1">
</div>
</div>
<div class="skillz">
<p class="skillname">CSS</p>
<p class="skillpercent">90%</p>
<div class="percent2">
</div>
</div>
<div CLASS="skillz">
<p class="skillname">JAVASCRIPT</p>
<p class="skillpercent">80%</p>
<div class="percent3">
</div>
</div>
</div>



</div>


</body>
<footer>
<div class="footer-wrapper">
<p>
&#169; &nbsp; 2022 &nbsp; <span><a href="index.html">mithunraj.com</a></span>
</p>
</div>
</footer>
</html>