{% load static %}
<!DOCTYPE html>

<html>
<head>

<title>{{profile.name}}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body onload="loader()" id="home">

{% comment %} <script src="script.js"></script> {% endcomment %}



<header>

    <div class="nav-icon" id="nav-icon">
    <button onclick="navbtn()">

    <div>
    </div>

    <div>
    </div>

    <div>
    </div>

    </button>
    </div>

    <h1><a href="{% url 'dashboard' %}">{{profile.name}}</a></h1>

    <nav id="navbar">
    <ul>
    <button onclick="navbtn()" >x</button>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#education">Education</a></li>
    </ul>
    </nav>

</header>

<br/>

<div class="homepage">

<div class="headspace" style="height:25px; width:100%; float:left;"></div>


<div class="headbanner">

<div class="mypic">
</div>

<div class="myquote">
<div class="txt">
<p class="txt1">Hi,</p>
<p class="txt2">I am {{profile.name}}</p>
<div class=textcontainer>
<p class="txt3">{{profile.role}}</p>
</div>
</div>
</div>
</div>

<div class="socialicons">

<a href="{{profile.instagram}}" class="fa fa-instagram"></a>
<a href="{{profile.linkedin}}" class="fa fa-linkedin"></a>
<a href="{{profile.github}}" class="fa fa-github"></a>
<a href="{{profile.twitter}}" class="fa fa-twitter"></a>


</div>

<div class="nxtbtn"><button class="nxtbtnblack"><a href="#about">&#x25BC;</a></div>

</div>

<div class="aboutpage" id="about">

<div class="about" >

<p class="aboutheader">ABOUT</p>
<p class="aboutbody">
{{profile.about}}
</p>

<div class="nxtbtn"><button class="nxtbtnwhite"><a href="#education">&#x25BC;</a></div>

</div>



</div>



<div class="educationpage" id="education">
<div class="educations">

<div class="education"><p>EDUCATION</p></div>

<div class="edu">
<p>{{profile.college}} </p>
<br>
<p>{{profile.start_year}} - {{profile.graduation_year}}</p>
<br>
<p class="degree">{{profile.course}}</p>
<br>
<p class="degree">{{profile.status}}</p>
</div>

</div>
</div>
</div>
</div>
</div>


</body>

</html>